@font-face {
    font-family: Minesweeper;
    src: url("./assets/font/mine-sweeper.otf");
}

:root{
    --orange : #ff8b4c;
    --light-orange : #ffeade;
    --text : black;
    --grey1 : rgb(241, 241, 241);
    --grey2 :rgb(221, 221, 221)
}
.dark{
    --light-orange:#472914;
    --orange : #9e5a2c;
    --text : white;
    --grey1 : rgb(37, 37, 37);
    --grey2 : rgb(58, 58, 58);
}

::selection{
    color: var(--orange);
    background: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--light-orange);
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}