body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--light-orange);
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

#dark-mode-toggler{
    font-family: 'Minesweeper';
    font-size: 10px;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    color:inherit;
}

#gradient-orange{
    --radius : 100vw;
    width: var(--radius);
    height: var(--radius);
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    background: radial-gradient(var(--orange) 0%, transparent);
    border-radius: var(--radius);
    filter: blur(80px);
    z-index:1;
    pointer-events: none;

}

#upper-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    font-family: Minesweeper;
    color: var(--text)
}

#upper-title > h2 {
    padding: 0;
    margin: 0;
}

#upper-title > p {
    font-size: 10px;
}

#game-canvas{
    background: var(--orange);
    z-index: 2;
    position: relative;
    outline: 10px solid var(--orange);
    border: 4px solid  var(--light-orange);
    display: flex;
    flex-direction: column;
    box-shadow: 20px 20px rgb(100, 46, 13);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/* STYLING FOR DABBAS */

.dabba{
    /* cursor: url("/assets/pickaxe.svg") 12 12 auto; */
    cursor: pointer;
    padding: 0;
    margin: 0;
    flex: 1;
    background: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: Minesweeper;
}
.dabba.alternate{
    background: var(--light-orange);
}
.dabba:hover{
    filter: brightness(0.95);
}
.dabba.alternate:hover{
    filter: brightness(1.05);
}
.dabba.inactive{
    cursor: default;
    background: var(--grey2) !important;
}
.dabba.inactive.alternate{
    background: var(--grey1) !important;
}
.dabba.inactive:hover{
    filter:brightness(1)
}
.dabba.bombed{
    background: rgb(160, 5, 5) !important;
}